
.logout:hover,.heart,.comment{
    cursor: pointer;
}

.heart{
    margin-right: 1.5rem;
}

.heart.selected{
    color: red;
}

.video-styles2
{
    height: 80vh;
    width: 35vw;
    
}
.videos{
    position: relative;
}

.video-container{
    display:flex;
    justify-content: center;
    height: 80vh;
    width: 30rem;
    background-color: white;
    border: 0.5px solid lightgray;
    margin-bottom: 3rem;
    flex-direction: column;
    margin-left: 17rem ;
    position: relative;
    /* height:"80vh",
    width:"30rem",
    backgroundColor:"white",
    border:"0.5px solid lightgray",
    marginBottom:"3rem",
    flexDirection:"column",
    marginLeft:"17rem",
    position:"relative" */
}

.mainheader{
    height:"7vh";
                  border:"1px solid lightgray";
                  /* boxShadow:"10px 5px 5px lightgray"; */
                  display:"flex";
                  flex-direction:"row";
                  align-items:"center";
                  position:"relative";
                  box-shadow: 10px 5px 5px lightgray;
                  /* font-family:"cursive"; */
}


.secondaryHeader{
    display:flex;
     text-decoration:none;
     height:100%;
     width:20%;
     align-items:center;
      position:absolute;
      right:5%
}
.instalogo{
    height:100%;
    align-self:flex-start;
    position:absolute;
    left:10rem;
    display:flex;
    align-items:center;
    
}
@media only screen and (max-width: 840px) { 
    .instalogo{
        left: 5%;
        
    }
    .secondaryHeader{
        width:55%;
        right:0%;
        left:50vw
    }
    .video-container{
        width:75%;
        margin-left: 15%;
        
    }
      
 }

 @media only screen and (max-width: 430px) { 
    .secondaryHeader{
        
        left:40vw
    }
 }